{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <!-- Hero Section -->
    <section class="max-w-7xl mx-auto px-10 py-16 flex flex-col md:flex-row items-center gap-12">

        <!-- Left -->
        <div class="flex-1">
            <h2 class="text-5xl font-bold text-gray-800 mb-6">
                Welcome to {{ name }}
            </h2>

            <p class="text-lg text-gray-600 leading-8 mb-8">
                We build modern websites, powerful mobile applications, and
                beautiful user interfaces that help businesses grow in the
                digital world.
            </p>

            <div class="flex gap-5">
                <a href="{% url 'website:about' %}"
                   class="bg-blue-800 text-white px-8 py-3 rounded-xl hover:bg-blue-700 transition duration-300 shadow-lg">
                    Learn More
                </a>

                <a href="{% url 'website:contact' %}"
                   class="border-2 border-blue-800 text-blue-800 px-8 py-3 rounded-xl hover:bg-blue-800 hover:text-white transition duration-300">
                    Contact Us
                </a>
            </div>
        </div>

        <!-- Right -->
        <div class="flex-1">
            <img src="https://wallpaperaccess.com/full/656670.jpg"
                 class="rounded-2xl shadow-xl w-full h-105 object-cover"
                 alt="Company">
        </div>

    </section>

    <!-- Services -->
    <section class="max-w-7xl mx-auto px-10 py-10">

        <h2 class="text-4xl font-bold text-center mb-12">
            Our Services
        </h2>

        <div class="grid md:grid-cols-3 gap-8">
            {% for card in cards %}
            <div class="bg-white rounded-2xl shadow-lg p-8 hover:-translate-y-2 transition duration-300">
                <div class="text-5xl mb-5">{{ card.logo }}</div>

                <h3 class="text-2xl font-bold mb-4">
                   {{ card.title }}
                </h3>

                <p class="text-gray-600">
                    {{ card.description }}
                </p>
            </div>
            {% endfor %}

            

        </div>

    </section>

    <!-- Why Choose Us -->
    <section class="bg-blue-900 text-white mt-20 py-16">

        <div class="max-w-7xl mx-auto px-10">

            <h2 class="text-4xl font-bold text-center mb-12">
                Why Choose Us?
            </h2>

            <div class="grid md:grid-cols-3 gap-8 text-center">
                {% for stat in stats %}
                    <div>
                        <h3 class="text-5xl font-bold">{{ stat.stat }}</h3>
                        <p class="mt-4 text-lg">{{ stat.services }}</p>
                    </div>
                {% endfor %}
                

            </div>

        </div>

    </section>

{% endblock %}